<pre>{{formData | json}}</pre>

<form (ngSubmit)="onSubmit()" class="container bg-light p-4 pb-2 rounded shadow">
    <h2>Contact Us</h2>

    <div class="row mb-4">
        <div class="col">
            <input type="text" [(ngModel)]="formData.firstName" name="firstName" class="form-control form-control-lg" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
            <input type="text" [(ngModel)]="formData.lastName" name="lastName" class="form-control form-control-lg" placeholder="Last name" aria-label="Last name">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <input type="email" [(ngModel)]="formData.emailId" name="emailId" class="form-control form-control-lg" placeholder="Email" aria-label="Email">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <select [(ngModel)]="formData.service" name="service" class="form-select form-select-lg" aria-label="Service List">
                <option value="">Select a Service</option>
                <option value="web-development">Web Development</option>
                <option value="ui-ux-design">UI/UX Design</option>
                <option value="api-development">API Development</option>
                <option value="startup-mvp">Startup MVP</option>
                <option value="mentorship">Mentorship</option>
            </select>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <label for="project-details-textarea" class="form-label">Tell me about your requirements</label>
            <textarea [(ngModel)]="formData.message" name="message" class="form-control form-control-lg" rows="4" id="project-details-textarea"
                placeholder="What are your goals? What challenges are you facing? Any specific requirements or timeline?"></textarea>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="d-grid gap-2 col-6">
                <button class="btn btn-success btn-lg" type="submit">Submit</button>
            </div>
        </div>
    </div>

</form>

