<div class="container mt-5">
    <h1 class="pt-5 mb-4">Featured Work</h1>
    <h3>Explore our portfolio of results-driven digital solutions that combine thoughtful design with robust
        development.</h3>

    <div class="cards mt-5 ms-5 me-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">50+</h4>
                <h5 class="card-text">Projects Completed</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">40+</h4>
                <h5 class="card-text">Happy Clients</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">5+</h4>
                <h5 class="card-text">Years Experience</h5>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">98%</h4>
                <h5 class="card-text">Client Satisfaction</h5>
            </div>
        </div>
    </div>

</div>