<div class="container mt-1">
    <p class="fs-3 mb-0">FEATURES</p>
    <p class="fs-3 fw-semibold">Our Features & Services</p>

    <div class="cards mb-3">
        <div class="card">
            <img src="/assets/images/software-development.png" class="card-img-top p-3 pb-1" alt="software-development">
            <div class="card-body">
                <h5 class="card-title">Software Development</h5>
                <p class="card-text">We provide tailored software development services to help businesses build scalable, efficient, and user-friendly digital solutions.</p>
            </div>
        </div>

        <div class="card">
            <img src="/assets/images/ui-ux.png" class="card-img-top p-3 pb-1" alt="software-development">
            <div class="card-body">
                <h5 class="card-title">Inspired Design</h5>
                <p class="card-text">We craft inspired designs that blend creativity and functionality to deliver impactful user experiences.</p>
            </div>
        </div>

        <div class="card">
            <img src="/assets/images/customer.png" class="card-img-top p-3 pb-1" alt="software-development">
            <div class="card-body">
                <h5 class="card-title">Happy Customers</h5>
                <p class="card-text">We build lasting relationships through reliable solutions that earn the trust and satisfaction of our customers.</p>
            </div>
        </div>
    </div>
</div>